<% if @post.favorite?(@post, current_user) %>
	<div class="like_off">
		<%= link_to favorite_path(id: @post.id), method: :delete, remote: true, class: "like_off_btn" if @post.user_id != current_user_id %>
			<i class="fa fa-heart-o" style="color: #FF6928;"></i>
		<% end %>
		<%= @post.favorites.count %>
	</div>
<% else %>
	<div class="like_on">
		<%= link_to favorite_path(post_id: @post.id), metohd: :post, remote: true, class: "like_on_btn" if @post.user_id != current_user_id %>
			<i class="fa fa-heart-o "></i>
		<% end %>
		<%= @post.favorites.count %>
	</div>
<% end %>

